
.nav-all{
height: 2.5vh;
display: flexbox;
color: #ffc107;
}



.logo {
    display: inline-block;
    width: 90px;
    height:90px;
    margin-left: 15px;
    color: #ffc107;
  
}
.ul
{
    margin-right: 250px;
}
  nav ul li{
   
    display: inline-block;
}

 nav  ul li a 
{
   
    display: inline-block;
    color:white;
    text-decoration: none;
    margin-right: 100px;
    border: 1px solid transparent ;

}
nav  ul li a :hover
{
   
    color: yellow;
    transition: 0.5s;
}
.d-flex
{
    
    margin-right: 100px;
}
#search-but
{

  padding-left: 5px;
  padding-right: 5px;
}
#log-out
{
    margin-right: 30px;
}
/*******************/
.sidebar
{
	margin-top:0px;
	position: fixed;
	width:100%;
	height: 100%;
	background-color: #8D1381;
 transition: 0.5s;    
}
.sidebar ul li a pre{
    
    text-decoration: none;
	color: white;
	font-size: 20px;
	padding:  20px;
	text-align: center;
    
}


.sidebar ul{
    margin-top: 15%;
}
.toggle-btn
{
	position: absolute;
	left: 85%;
	top:1.3%;

}

.sidebar2
{
    margin-left: 20%;
    position: fixed;
    width:100%;
	height: 100%;
    background-color:#DA29CE ;
    transition: 0.5s; 
}
 .button-menu
 {

    margin-top: 0.7%;
    font-size: 0px;
    margin-left: 0.5%;
 }

/*.......home-page.......*/



/**********loging page..............*/
.login-page-full
{
   
    margin-left: 0;
    position: fixed;
    width:100%;
	height: 100%;
    background-color:#EC9FE5;
    transition: 0.5s; 
}
.full-page
{
	 height: 100%;
    width: 100%;
	 background-size: cover;
	     position:  absolute;
}
.form-box
{
	display: block;
	width: 500px;
    height: 100% ;
    background:#B52ABE;
	padding: 10px;
	
    margin-left: auto;
    margin-right: auto;
    margin-right: 0%; 
}
.form
{
	top:100px;
	width:320px;

	 margin-left: auto;
    margin-right: auto;
	margin-top:20%;
}
#submit-button
{
	background:blue;
	width:50%;
    border-radius: 30px;
     cursor:pointer;
    position:relative;
	margin-left:25%;
	border: 0px;
    margin-top:10%;
}
.form-control
{
    padding: 5% 25%;
    margin-top: 10%;
	  border-radius: 30px;
}

.login-h2
{
	text-align:center;
	color:white;
	margin-top:35%;
}

.logo-side
{

 margin-left: 10%;
 width: 70%;
 height: 30%;
 position: relative;
 border: 1px;
 margin-top: 15%;
}
/***********/

/****************dashbord*********/


/*****************obout page**/


/***********notification box***************/
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 70px;
  }
  
  .notification {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
      padding: 100px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .notification h2 {
    margin-top: 0;
    font-size: 1.2em;
  }
  
  .notification p {
    margin-bottom: 0;
  }
  
  .timestamp {
    font-size: 0.8em;
	   color: #666;
 
  }
 
 
/********exam enrty forms*****************/
.wapper{
            width:1972px;
            height: 1360px;
           
            
            
        }
        .sec{
           
            width: 1972px;
            height: 1300px;
            margin-top:-20px; 
            background-color:#e4bfe2;
           
        }

        .box1  img
        {
            border-radius:50%;
            width:70px;
            height:70px;
            margin-top:30px;
            margin-left:50%;
        
        }

        .box2 
        {
            border-color:black;
            border: 5px;
            width:110px;
            height:70px;
            float:right;
            font-size:20px;
            margin-top:-50px;
            margin-right:230px;
            text-align:center;
          
        
        }
       table{
        text-align:center;
        width:1000px;
       
       }
       tr{
        width:600px;

       }



